<div class="card shadow-effect">
	<div class="card-body">
		<div class="text-center mt-3 mb-5">
			<h3>SUBSCRIPTION FORM</h3>
			<p class="m-auto subs-text">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
				aspernatur sunt quae nesciunt iusto consequatur corporis?
				Explicabo praesentium consequatur voluptate?
			</p>

			<form
				action=""
				class="mb-5 d-flex justify-content-center align-items-center gap-5 mt-5"
			>
				<div class="form-group flex-grow-1">
					<input
						type="text"
						class="form-control shadow-effect"
						placeholder="Your name"
					/>
				</div>

				<div class="form-group flex-grow-1">
					<input
						type="email"
						class="form-control shadow-effect"
						placeholder="Email address"
					/>
				</div>

				<div>
					<button class="btn btn-info btn-block btn-sub">
						SUBSCRIBE
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
