<div class="card shadow-effect">
	<img
		src="https://images.pexels.com/photos/4588052/pexels-photo-4588052.jpeg?auto=compress&cs=tinysrgb&w=1600"
		alt="some-image"
		class="card-img-top"
	/>
	<div class="card-body">
		<small class="bg-light text-danger text-center"> Design </small>
		<small class="bg-light text-success text-center ml-3"> Featured </small>
		<small class="bg-light text-info text-center ml-3"> Views - 100 </small>

		<h5 class="mt-1">HOW TO START A BLOG</h5>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad vitae
			sunt consequuntur exercitationem. Saepe fugiat dolore, sint quae
			aspernatur expedita.
		</p>

		<small class="bg-light text-warning text-center ml-3">
			LAST UPDATED - APR 10 2023
		</small>
	</div>
</div>
